.errmsg {
  color: #e74c3c; /* Couleur du message d'erreur */
  margin-bottom: 10px; /* Espacement sous le message d'erreur */
}

.instructions {
  margin-top: 5px; /* Espacement au-dessus des instructions */
}

.instructions.valid {
  color: #27ae60; /* Couleur des instructions valides */
}

.instructions.invalid {
  color: #e74c3c; /* Couleur des instructions invalides */
}

.reset-password-container {
  text-align: center;
  max-width: 315px; /* Réduire la largeur maximale */
  margin: 50px auto; /* Ajuster la marge automatique pour centrer verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset-password-container h4 {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Taille de police augmentée */
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block; /* Assurer que le label est affiché en bloc */
}

.form-control {
  width: 100%; /* Ajuster la largeur de l'input à 100% */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%; /* Ajuster la largeur du bouton à 100% */
}

.btn-primary:hover {
  background-color: #2471a3;
}
